html {
    width: auto;
    max-width: 800px;
}

body {
    font-size: 100%;
    min-width: 450px;
    max-width: 800px;
    background-color: #BEBEBE;
}

h4 {
    text-align: center;
    letter-spacing: 2px;
}

table {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: 800px;
    margin-bottom: 20px;
}

thead tr {
    line-height: 12px;
}

th {
    text-align: left;
    padding: 10px;
    letter-spacing: 1px;
    line-height: 12px;
    font-size: 13px;
}

th span {
    font-size: 10px;
    font-weight: 300;
    display: block;
    margin-top: 10px;
}

tr {
    line-height: 35px;
}

td {
    font-size: 12px;
    padding: 0 8px;
    line-height: 20px;
    background-color: #F8F8FF;
}

td:first-child {
    font-size: 10px;
    color: #000080;
    text-transform: uppercase;
    width: 150px;
}

.info {
    background-color: #00BFFF;
}

.success {
    background-color: #00FF7F;
}

.redirect {
    background-color: #7FFFD4;
}

.warning {
    background-color: rgba(243, 156, 18, .3);
}

.error {
    background-color: rgba(192, 57, 43, .3);
}

.circle-rating{
    border-radius: 25%;
    width: 30px;
    height: 30px;
    background: #F4A460;
    border: solid 3px #804915;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    padding: 10px 5px 0 5px;
    position: absolute;
    top: 20px;
    right: 30px;
}
